<div class="container">
    <div class="row">
        <div class="col-md-12" ng-show="isLoggedIn">
            <form ng-submit="createQuiz(quiz)">
                <div class="form-group">
                    <label for="inputdefault">Question</label>
                    <textarea class="form-control" id="inputdefault" ng-model="quiz.question" rows="3"></textarea>
                </div>
                <div ng-show="quiz.kind === 'cloze'">
                    <div class="form-group">
                        <label for="hint">Hint</label>
                        <input class="form-control" id="hint" type="text" ng-model="quiz.hint">
                    </div>
                </div>
                <input ng-disabled="!isValid(quiz)" type="button" ng-click="editQuiz(quiz)" class="btn btn-block" value="Update Quiz">
                <input ng-disabled="!isValid(quiz)" type="submit" class="btn btn-block" value="Create Quiz">
            </form>
        </div>
    </div>
</div>
<footer class="container-fluid">
    <small>Copyright (C) 2015 teruss All Rights Reserved.</small>
</footer>
