<script>
</script>
<div id="fb-root"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p ng-show="showLoading">
                Loading... {{Math.round(loading/totalQuiz * 100)}}%
            </p>
            <div ng-repeat="quiz in quizzes | filter:showQuiz">
                <p>
                    {{quiz.question}}
                </p>
                <p>
                    {{quiz.hint}}
                </p>
                <p>
                    Accuracy rate: {{quiz.accuracyRate}}
                </p>
                <div>
                    <form ng-submit="answer(quiz)">
                        <div class="form-group" ng-show="quiz.kind === 'normal'">
                            <select class="form-control" ng-model="quiz.guess" ng-options="c for c in quiz.choices" ng-disabled="quiz.result"></select>
                        </div>
                        <div class="form-group" ng-show="quiz.kind === 'free'">
                            <input class="form-control" spellcheck="true" id="inputanswer" type="text" ng-model="quiz.guess">
                        </div>
                        <div class="form-group" ng-show="quiz.kind === 'number'">
                            <input class="form-control" id="inputanswer" type="number" ng-model="quiz.guessNumber">
                        </div>
                        <div class="form-group" ng-show="quiz.kind === 'cloze'">
                            <input class="form-control" spellcheck="true" id="inputanswer" type="text" ng-model="quiz.guess">
                        </div>
                        <div class="form-group" ng-hide="quiz.result">
                            <button ng-disabled="invalidAnswer(quiz)" type="submit" class="btn btn-block btn-primary">Check Answer</button>
                        </div>
                    </form>
                </div>
                <div ng-show="quiz.result" class="form-group">
                    <p>{{quiz.result}} You should review after {{quiz.next_due}}.</p>
                    <form ng-submit="quiz.finished=true">
                        <button type="submit" class="btn btn-block btn-primary">OK</button>
                    </form>
                </div>
                <div>
                    <form ng-submit="edit(quiz)">
                        <button class="btn btn-block">Improve this Quiz</button>
                    </form>
                </div>
                <!--<div>
                    <form ng-submit="forget(quiz)">
                        <button class="btn btn-block">Forget this Quiz</button>
                    </form>
                </div>-->
                <hr />
            </div>
        </div>
    </div>
</div>
<footer class="container-fluid">
    <small>Copyright (C) 2015 teruss All Rights Reserved.</small>
</footer>
