<script>
</script>
<div id="fb-root"></div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>{{quizType}}</h3>
      <div ng-repeat="quiz in quizzes | filter:showQuiz | filter:{finished:false}">
        <p>
          {{quiz.question}}
        </p>
        <div>
      	  <form ng-submit="answer(quiz)">
            <div class="form-group" ng-show="quiz.kind === 'normal'">
              <select class="form-control" ng-model="quiz.guess" ng-options="c for c in quiz.choices" ng-disabled="quiz.result">
              </select>
            </div>
            <div class="form-group" ng-show="quiz.kind === 'free'">
          	  <input class="form-control" spellcheck="true" id="inputanswer" type="text" ng-model="quiz.guess">
            </div>
            <div class="form-group" ng-show="quiz.kind === 'number'">
          	  <input class="form-control" id="inputanswer" type="number" ng-model="quiz.guessNumber">
            </div>
      	    <div class="form-group" ng-hide="quiz.result">
      	      <button ng-disabled="invalidAnswer(quiz)" type="submit" class="btn btn-block btn-primary">Check Answer</button>
      	    </div>
      	  </form>
      	</div>
      	<div ng-show="quiz.result" class="form-group">
      	  <p>{{quiz.result}} You should review after {{quiz.next_due}}.</p>
      	  <form ng-submit="quiz.finished=true">
      	    <button type="submit" class="btn btn-block btn-primary">OK</button>
      	  </form>
      	</div>
      	<div>
      	  <form ng-submit="edit(quiz)">
      	    <button class="btn btn-block">Improve this Quiz</button>
      	  </form>
      	</div>
      	<hr/>
      </div>
    </div>
    <div class="col-md-4">
      <h3>Done</h3>
      <div ng-repeat="quiz in quizzes.concat(publicQuizzes) | filter:{kind:'normal'} | filter:{finished:true}">
	{{quiz.question}}
	<form>
	  <div ng-repeat="choice in quiz.choices">
	    <div class="radio">
	      <label><input type="radio" ng-model="quiz.guess" ng-value="choice" id="{{choice}}" name="quiz_radio">{{choice}}</label>
	    </div>
	  </div>
	</form>
	<p>{{quiz.result}}</p>
	<hr/>
      </div>
    </div>
    <div class="col-md-4">
      <h3>Recently Added Quizzes</h3>
      <div ng-repeat="quiz in publicQuizzes | filter:showQuiz | filter:{finished:false}">
	{{quiz.question}}
	<div class="row">
	  <div class="col-md-6">
	    <form ng-submit="answer(quiz)">
	      <div ng-repeat="choice in quiz.choices">
      		<div class="radio">
      		  <label><input type="radio" ng-model="quiz.guess" ng-value="choice" id="{{choice}}" name="quiz_radio">{{choice}}</label>
      		</div>
	      </div>
	      <input type="submit" class="btn" value="Post">
	    </form>
	  </div>
	  <div class="col-md-6" ng-show="quiz.result">
	    <p>{{quiz.result}}</p>
	    <p>The next due is:</p>
	    <p>{{quiz.next_due}}</p>
	    <form ng-submit="quiz.finished=true">
	      <button type="submit" class="btn">OK</button>
	    </form>
	  </div>
	</div>
	<hr/>
      </div>
    </div>
  </div>
</div>
<footer class="container-fluid">
  <small>Copyright (C) 2015 teruss All Rights Reserved.</small>
</footer>
