<!doctype html>
<html lang="en" ng-app="quizApp">
<head>
    <meta charset="utf-8">
    <title>My HTML File</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/controller.js"></script>
</head>
<body ng-controller="QuizCtrl">
<h2>QuizUnit</h2>
<form ng-submit="insert()">
    <input type="text" ng-model="question" size="50"><br>
    <input type="text" ng-model="answer" size="50"><br>
    <input type="text" ng-model="dummy1" size="50"><br>
    <input type="text" ng-model="dummy2" size="50"><br>
    <input type="text" ng-model="dummy3" size="50"><br>
    <input type="submit" class="btn" value="Post">
</form>

<ul>
    <li ng-repeat="quiz in quizzes">
        {{quiz.question}} {{quiz.answer}}: {{quiz.dummy1}}
    </li>
</ul>
</body>
</html>
